mi-c3_etl.json
{"flowContents":{"identifier":"5152847f-3360-3427-bfda-2ab8ae9589ab","instanceIdentifier":"395e7354-0193-1000-2d7d-234cda1a1a93","name":"mi-c3 etl","comments":"","position":{"x":-504.0,"y":-240.0},"processGroups":[{"identifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","instanceIdentifier":"3bdcd0f5-0193-1000-1f81-aa0ff38dde80","name":"Transform","comments":"","position":{"x":-88.0,"y":328.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a5e6f700-fca6-350a-a04b-a598b730356f","instanceIdentifier":"0193100b-6a36-1a56-42e2-888dd020ba5e","name":"Transform| File Manifest","comments":"","position":{"x":576.0,"y":168.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","file_manifest":"$.*","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file_manifest":{"name":"file_manifest","displayName":"file_manifest","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"2fb69332-9203-31b3-9572-3a8c7bd3171e","instanceIdentifier":"3f3e29e9-0193-1000-d3b6-a4d7d6899a12","name":"Map to main Header","comments":"","position":{"x":576.0,"y":736.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.0.0"},"properties":{"groovyx-script-body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport java.text.SimpleDateFormat\nimport java.time.Instant\nimport java.time.ZoneOffset\nimport java.time.format.DateTimeFormatter\n\nflowFile = session.get()\nif (!flowFile) return\n\n\ndef formatDateTime(String inputDate) {\n    if (inputDate?.length() == 14) { // Data X datetime format: yyyyMMddhhmmss\n        def sdfInput = new SimpleDateFormat(\"yyyyMMddHHmmss\")\n        def sdfOutput = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\")\n        return sdfOutput.format(sdfInput.parse(inputDate))\n    } else if (inputDate?.isNumber()) { // Data Y datetime format: Unix timestamp\n        def date = new Date(inputDate.toLong() * 1000)\n        def sdfOutput = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\")\n        return sdfOutput.format(date)\n    }\n    return null \n}\n\n\ntry {\n    def inputJson\n\n    session.read(flowFile, { inputStream ->\n        def slurper = new JsonSlurper()\n        inputJson = slurper.parse(inputStream)\n    } as InputStreamCallback)\n\n    def alarmCodeMapping = [\n        \"0\"   : \"0\",\n        \"108\" : \"1\",\n        \"109\" : \"2\",\n        \"110\" : \"3\",\n        \"111\" : \"4\",\n        \"112\" : \"5\"\n    ]\n\n    def outputJson = [:]\n\n    if (inputJson.containsKey(\"IMEI\") && inputJson.containsKey(\"yyyyMMddhhmmss\")) {\n        // Data X mapping\n        outputJson = [\n            imei                : inputJson.IMEI.toLong(),\n            datetime            : formatDateTime(inputJson.yyyyMMddhhmmss.toString()),\n            lng                 : inputJson.lon?.toBigDecimal(),\n            lat                 : inputJson.lat?.toBigDecimal(),\n            speed_mph           : inputJson.speed?.toDouble() * 0.621371, \n            altitude            : inputJson.alt ?: null,\n            direction           : inputJson.dir ?: null,\n            alarmCode           : alarmCodeMapping[inputJson.alarmCode.toString()].toLong(),\n            Odometer            : null,\n            LocationDesc        : null,\n            RoadTypeDescription : null\n        ]\n    } else if (inputJson.containsKey(\"imei\") && inputJson.containsKey(\"gps_time\")) {\n        // Data Y mapping\n        outputJson = [\n            imei                : inputJson.imei.toLong(),\n            datetime            : formatDateTime(inputJson.gps_time),\n            lng                 : inputJson.lng?.toBigDecimal(),\n            lat                 : inputJson.lat?.toBigDecimal(),\n            speed_mph           : inputJson.speed?.toDouble(), \n            altitude            : null,\n            direction           : null,\n            alarmCode           : inputJson.alarmcode.toLong(),\n            Odometer            : inputJson.Odometer?.toBigDecimal() ?: null,\n            LocationDesc        : inputJson.LocationDesc ?: null,\n            RoadTypeDescription : inputJson.RoadTypeDescription ?: null\n        ]\n    } else {\n        throw new Exception(\"Unrecognized data format!\")\n    }\n\n    flowFile = session.write(flowFile, { outStream ->\n        outStream.write(JsonOutput.toJson(outputJson).bytes)\n    } as OutputStreamCallback)\n\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    log.error(\"Error processing FlowFile: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"1f5e8cd5-581f-302a-9437-c94b8e1a0bd7","instanceIdentifier":"3bd9420a-0193-1000-043d-113dd7e76cfb","name":"ConsumeKafka","comments":"","position":{"x":576.0,"y":-64.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.0.0"},"properties":{"Topics":"#{topic_name}","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"1 sec","Kafka Connection Service":"0b5a2c99-29a5-3b5a-99b8-03a5b6844fc0","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"tracking-data-group","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"93df4a3c-20b1-3c5b-aa3e-18a3acbe8ec7","instanceIdentifier":"10361193-1a64-1a36-7183-b5c4727ed712","name":"Transform | update filename","comments":"","position":{"x":576.0,"y":464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"filename":"tracking_data_${UUID()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"}],"inputPorts":[],"outputPorts":[{"identifier":"026fff20-dfde-3d46-b314-187b0ac6741b","instanceIdentifier":"3be0c045-0193-1000-b50b-a15045c299fb","name":"Transform | Errors","position":{"x":-48.0,"y":776.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"74540996-34c9-33db-ad73-b56689d3f880","instanceIdentifier":"43ba724e-0193-1000-f528-8004bb3bef60","name":"Transform | Output","position":{"x":632.0,"y":976.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"}],"connections":[{"identifier":"e65a108a-0e7a-360f-a7a4-34e69defd378","instanceIdentifier":"6a361a5d-1036-1193-60fe-23532e03ceb3","name":"","source":{"id":"a5e6f700-fca6-350a-a04b-a598b730356f","type":"PROCESSOR","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Transform| File Manifest","comments":"","instanceIdentifier":"0193100b-6a36-1a56-42e2-888dd020ba5e"},"destination":{"id":"93df4a3c-20b1-3c5b-aa3e-18a3acbe8ec7","type":"PROCESSOR","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Transform | update filename","comments":"","instanceIdentifier":"10361193-1a64-1a36-7183-b5c4727ed712"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"69ccd04b-89f5-380d-81b0-9fe4dbd2e249","instanceIdentifier":"3f4de947-0193-1000-a709-14f147853501","name":"","source":{"id":"2fb69332-9203-31b3-9572-3a8c7bd3171e","type":"PROCESSOR","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Map to main Header","comments":"","instanceIdentifier":"3f3e29e9-0193-1000-d3b6-a4d7d6899a12"},"destination":{"id":"026fff20-dfde-3d46-b314-187b0ac6741b","type":"OUTPUT_PORT","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Transform | Errors","instanceIdentifier":"3be0c045-0193-1000-b50b-a15045c299fb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"e1754d05-ab17-3742-b787-db8f5b9ff375","instanceIdentifier":"10361198-1a64-1a36-e5b4-36afac253e75","name":"","source":{"id":"93df4a3c-20b1-3c5b-aa3e-18a3acbe8ec7","type":"PROCESSOR","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Transform | update filename","comments":"","instanceIdentifier":"10361193-1a64-1a36-7183-b5c4727ed712"},"destination":{"id":"2fb69332-9203-31b3-9572-3a8c7bd3171e","type":"PROCESSOR","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Map to main Header","comments":"","instanceIdentifier":"3f3e29e9-0193-1000-d3b6-a4d7d6899a12"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"bdcb9ffd-668f-371f-a397-861c0e3e2873","instanceIdentifier":"43ba86fd-0193-1000-c480-b0fdb82486c7","name":"","source":{"id":"2fb69332-9203-31b3-9572-3a8c7bd3171e","type":"PROCESSOR","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Map to main Header","comments":"","instanceIdentifier":"3f3e29e9-0193-1000-d3b6-a4d7d6899a12"},"destination":{"id":"74540996-34c9-33db-ad73-b56689d3f880","type":"OUTPUT_PORT","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Transform | Output","instanceIdentifier":"43ba724e-0193-1000-f528-8004bb3bef60"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"0ba36087-8fa6-3929-9425-cd6f21537972","instanceIdentifier":"0193101d-6a36-1a56-dfc6-b84423586bac","name":"","source":{"id":"1f5e8cd5-581f-302a-9437-c94b8e1a0bd7","type":"PROCESSOR","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"ConsumeKafka","comments":"","instanceIdentifier":"3bd9420a-0193-1000-043d-113dd7e76cfb"},"destination":{"id":"a5e6f700-fca6-350a-a04b-a598b730356f","type":"PROCESSOR","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Transform| File Manifest","comments":"","instanceIdentifier":"0193100b-6a36-1a56-42e2-888dd020ba5e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d667659b-7261-32d1-8166-d6c8451792e6","instanceIdentifier":"3f25af4a-0193-1000-72ae-4974c062ebd5","name":"Schema | JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"tracking_data","schema-registry":"a3add7ae-3c81-3690-a9f0-dbb9a131efaf","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"242ddc43-7883-3d4e-a6c2-ea3caeff5041","instanceIdentifier":"6a361a6c-1036-1193-7cf8-8e03671db559","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.0.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"a3add7ae-3c81-3690-a9f0-dbb9a131efaf","instanceIdentifier":"3f279fbf-0193-1000-c947-41b9be00c510","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.0.0"},"properties":{"avro-reg-validated-field-names":"true","tracking_data":"{\n  \"type\": \"record\",\n  \"name\": \"tracking_data\",\n  \"namespace\": \"org.apache.nifi\",\n  \"fields\": [\n    { \"name\": \"imei\", \"type\": \"string\" },\n    { \"name\": \"datetime\", \"type\": \"string\" },\n    { \"name\": \"lng\", \"type\": \"string\" },\n    { \"name\": \"lat\", \"type\": \"string\" },\n    { \"name\": \"speed_mph\", \"type\": \"string\" },\n    { \"name\": \"altitude\", \"type\": [\"null\", \"float\"], \"default\": null },\n    { \"name\": \"direction\", \"type\": [\"null\", \"float\"], \"default\": null },\n    { \"name\": \"alarmCode\", \"type\": \"string\" },\n    { \"name\": \"Odometer\", \"type\": [\"null\", \"string\"], \"default\": null },\n    { \"name\": \"LocationDesc\", \"type\": [\"null\", \"string\"], \"default\": null },\n    { \"name\": \"RoadTypeDescription\", \"type\": [\"null\", \"string\"], \"default\": null }\n  ]\n}\n"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tracking_data":{"name":"tracking_data","displayName":"tracking_data","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"},{"identifier":"5a5aae6f-4409-3e20-ac6e-def9d6b0dad4","instanceIdentifier":"3f24e003-0193-1000-64ce-b35ac7bad19a","name":"Schema | JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176"}],"parameterContextName":"PC_mi-c3_etl","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"7238030a-f862-3f78-9e8a-8c29dd0e57fd","instanceIdentifier":"43b900b4-0193-1000-36c5-2cbc8101f7fd","name":"Load","comments":"","position":{"x":-88.0,"y":600.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5b190afa-83bc-330a-8efc-e37441e69a06","instanceIdentifier":"6a361a56-103f-1193-578e-2ea4adc1fc0f","name":"Load | PublishKafka ","comments":"","position":{"x":-200.0,"y":-80.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.0.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":"c82bc6e8-6c6f-33de-9c6e-b98e6bf5d6d3","Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"#{topic_druid}","Kafka Key":null,"partition":null,"Kafka Connection Service":"0b5a2c99-29a5-3b5a-99b8-03a5b6844fc0","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":"748f6f77-faca-38f2-bf67-09a2a056a2c1","Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7238030a-f862-3f78-9e8a-8c29dd0e57fd"}],"inputPorts":[{"identifier":"ced8eb6c-a297-32e4-8e1e-86c3e3eddf19","instanceIdentifier":"43bb1f2f-0193-1000-7026-cf9d064a5ebd","name":"Load | Input","position":{"x":-146.0,"y":-241.5},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"7238030a-f862-3f78-9e8a-8c29dd0e57fd"}],"outputPorts":[],"connections":[{"identifier":"e8647c37-8be6-311d-9e71-c72242a2c7a0","instanceIdentifier":"6a361a57-103f-1193-23f0-00252da0b76b","name":"","source":{"id":"ced8eb6c-a297-32e4-8e1e-86c3e3eddf19","type":"INPUT_PORT","groupId":"7238030a-f862-3f78-9e8a-8c29dd0e57fd","name":"Load | Input","instanceIdentifier":"43bb1f2f-0193-1000-7026-cf9d064a5ebd"},"destination":{"id":"5b190afa-83bc-330a-8efc-e37441e69a06","type":"PROCESSOR","groupId":"7238030a-f862-3f78-9e8a-8c29dd0e57fd","name":"Load | PublishKafka ","comments":"","instanceIdentifier":"6a361a56-103f-1193-578e-2ea4adc1fc0f"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7238030a-f862-3f78-9e8a-8c29dd0e57fd"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"PC_mi-c3_etl","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"ac23ba31-5e13-3c60-813c-098ac890d095","instanceIdentifier":"395f102d-0193-1000-ab94-e5ae788ca1db","name":"Extract","comments":"","position":{"x":-96.0,"y":-376.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0888e111-e127-3c0c-94d1-eea561d046dc","instanceIdentifier":"3966c90b-0193-1000-a88d-e88b6bb9f0be","name":"Extract | File UUID","comments":"","position":{"x":232.0,"y":96.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","file_uuid":"${UUID()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file_uuid":{"name":"file_uuid","displayName":"file_uuid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"f2607cff-3526-36af-b65f-e5cdb73b6ddf","instanceIdentifier":"39d8d690-0193-1000-9e02-c503b6cb1301","name":"ReplaceText","comments":"","position":{"x":232.0,"y":1888.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${header}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"First-Line","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"d463fa17-768b-3bed-a18c-415828ac7145","instanceIdentifier":"3962fd27-0193-1000-fd76-fdd7615a908b","name":"Extract | File Manifest","comments":"","position":{"x":224.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","file_manifest":"$.*","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file_manifest":{"name":"file_manifest","displayName":"file_manifest","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"ff5b94ce-ac26-3c9b-8fac-4462933feac5","instanceIdentifier":"3967c5f7-0193-1000-06cc-3480925dbbb9","name":"Extract | SplitJson","comments":"","position":{"x":232.0,"y":328.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"a524d53a-ea68-3019-869a-bc6b112a6bcf","instanceIdentifier":"39ced208-0193-1000-f3bf-d85ffa187468","name":"RouteOnAttribute","comments":"","position":{"x":232.0,"y":1256.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","FileToXLSX":"${filename:toLower():endsWith('.xlsx')}","FileToJson":"${filename:toLower():endsWith('.json')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FileToXLSX":{"name":"FileToXLSX","displayName":"FileToXLSX","identifiesControllerService":false,"sensitive":false,"dynamic":true},"FileToJson":{"name":"FileToJson","displayName":"FileToJson","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"820105bd-c869-344b-a4b3-0b60d4c51cb8","instanceIdentifier":"396a9f90-0193-1000-88df-c292c31611f7","name":"Set File Attributes","comments":"","position":{"x":232.0,"y":784.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"flow_file_incoming":"${path:replaceFirst('^\\\\.','')}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"flow_file_archive":"#{flow_file_archive}"},"propertyDescriptors":{"flow_file_incoming":{"name":"flow_file_incoming","displayName":"flow_file_incoming","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"flow_file_archive":{"name":"flow_file_archive","displayName":"flow_file_archive","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"annotationData":"<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>header</attribute>\n            <id>48864ffd-daff-4ed7-b9bc-070e8f2b9b7e</id>\n            <value>IMEI,yyyyMMddhhmmss,lon,lat,speed,dir,alt,alarmCode</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${filename:startsWith('tracking_data_x')}</expression>\n            <id>0628e661-de66-4bb2-ab8d-56d67b610bea</id>\n        </conditions>\n        <id>160296c1-494a-400e-bac1-2b98e15b05f5</id>\n        <name>mi-c3 | etl data x</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>jolt_spec</attribute>\n            <id>fd871d5a-2ad5-4a0f-85de-7c8aef429ef0</id>\n            <value>{\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"data\": {\n        \"*\": \"\"\n      }\n    }\n}</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${filename:startsWith('tracking_data_y')}</expression>\n            <id>0628e661-de66-4bb2-ab8d-56d67b610bea</id>\n        </conditions>\n        <id>07425464-bf65-487e-a2ce-e095e2b41f92</id>\n        <name>mi-c3 | etl data y</name>\n    </rules>\n</criteria>","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"1ab951ce-b20b-3813-b508-7acac986c140","instanceIdentifier":"3a566a36-0193-1000-92c1-1745600b9f45","name":"Update CSV->JSON","comments":"","position":{"x":224.0,"y":2536.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace('.csv','.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"09645ad8-d61c-3397-8a73-83ac5c151d2d","instanceIdentifier":"39689f90-0193-1000-50a4-1d92dd148bfe","name":"Extract | File Attributes","comments":"","position":{"x":232.0,"y":560.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","path":"$.path","filename":"$.filename","Max String Length":"20 MB","Return Type":"auto-detect","file_date_time":"$.lastModified","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"path":{"name":"path","displayName":"path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file_date_time":{"name":"file_date_time","displayName":"file_date_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"8a50cb45-0f1a-3145-95d1-c97496d10912","instanceIdentifier":"01931006-6a36-1a56-abaf-014643f3085b","name":"SplitText","comments":"","position":{"x":224.0,"y":2096.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"f0f225af-72af-3a75-ad51-44bc3d0c2fb2","instanceIdentifier":"01931021-6a36-1a56-6171-f414b8d96ad6","name":"JoltTransformJSON","comments":"","position":{"x":888.0,"y":1256.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"10","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[${jolt_spec}]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"ecd32b45-8eef-3fb6-9d03-7cb3ae589231","instanceIdentifier":"01931000-6a36-1a56-8490-d7cfc699ed9c","name":"Update XLSX->CSV","comments":"","position":{"x":232.0,"y":1688.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace('.xlsx','.csv')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"text/csv","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"b248a869-be25-3d0a-bea7-711306e8a4e5","instanceIdentifier":"0193101f-6a36-1a56-625c-18261a6b40c2","name":"SplitJson","comments":"","position":{"x":896.0,"y":1472.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"8fb0aea7-42cd-3ef1-ba4f-37fc4a40edbd","instanceIdentifier":"39b0932a-0193-1000-4982-42f8e93e1918","name":"ConvertRecord","comments":"","position":{"x":232.0,"y":1488.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"52663ceb-fb5b-36cc-9201-647d2973746d","Record Reader":"8ff688b9-66ad-35b1-9f86-cbf5bdd8ceff"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"e52b17cc-2269-3eef-8e1b-34371208e86a","instanceIdentifier":"39750815-0193-1000-103e-b422ea11f8c3","name":"Extract | FetchFile","comments":"","position":{"x":232.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":"${flow_file_archive}/${file_uuid}/","Log level when permission denied":"ERROR","File to Fetch":"${path}/${filename}","Completion Strategy":"Move File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"ff45943b-20f5-34a0-bf16-5ec3e5073edd","instanceIdentifier":"3914ca4a-0193-1000-1f33-41bd9242db4f","name":"Extract | ListFile","comments":"","position":{"x":224.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Minimum File Age":"10 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":"572680b8-1ee1-3325-bbc2-c09318ba83b5","Maximum File Size":null,"et-time-window":"30 min","et-node-identifier":"${hostname()}","Recurse Subdirectories":"false","File Filter":"(tracking_data).*.(xlsx|json)","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"none","Input Directory":"#{folder_path}","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"e2336a09-4081-31ca-9803-4a74bebb536c","instanceIdentifier":"3a51b5c9-0193-1000-d7d0-2dadc18a07d2","name":"ConvertRecord","comments":"","position":{"x":224.0,"y":2304.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"8c7285de-a4d0-3e4c-9021-59634da4cc7d","Record Reader":"fb0eec26-9df3-38de-b020-ed27951f0746"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"}],"inputPorts":[],"outputPorts":[{"identifier":"9a7cbab6-40b8-3aa5-9ec9-e91130fa8a7b","instanceIdentifier":"0193102f-6a36-1a56-aa1f-456a6d4d8578","name":"Extract | Output","position":{"x":952.0,"y":2136.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"c84d7798-96b9-3c0e-94da-387df2da418d","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6","name":"Extract | Errors","position":{"x":-88.0,"y":1192.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"}],"connections":[{"identifier":"9fbf0441-491c-3dea-82c7-765bba49ffc9","instanceIdentifier":"0193101c-6a36-1a56-bdb0-fac6a801fdbe","name":"","source":{"id":"f2607cff-3526-36af-b65f-e5cdb73b6ddf","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ReplaceText","comments":"","instanceIdentifier":"39d8d690-0193-1000-9e02-c503b6cb1301"},"destination":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":32.0,"y":1952.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"8ea881b4-eaa7-3ce3-b0f6-b323b585c8aa","instanceIdentifier":"3977d0db-0193-1000-b42e-0df6ce5c92a4","name":"","source":{"id":"09645ad8-d61c-3397-8a73-83ac5c151d2d","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | File Attributes","comments":"","instanceIdentifier":"39689f90-0193-1000-50a4-1d92dd148bfe"},"destination":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":32.0,"y":624.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"81d7be6b-6531-3e85-b397-afc69ef8fc00","instanceIdentifier":"0193101d-6a36-1a56-12e5-1180e49599ba","name":"","source":{"id":"8a50cb45-0f1a-3145-95d1-c97496d10912","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"SplitText","comments":"","instanceIdentifier":"01931006-6a36-1a56-abaf-014643f3085b"},"destination":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":32.0,"y":2160.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"2c30974e-e885-3f8c-8571-8967ac063272","instanceIdentifier":"01931008-6a36-1a56-38ff-2618287534b4","name":"","source":{"id":"8a50cb45-0f1a-3145-95d1-c97496d10912","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"SplitText","comments":"","instanceIdentifier":"01931006-6a36-1a56-abaf-014643f3085b"},"destination":{"id":"e2336a09-4081-31ca-9803-4a74bebb536c","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ConvertRecord","comments":"","instanceIdentifier":"3a51b5c9-0193-1000-d7d0-2dadc18a07d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"c228b6fb-a90e-30c8-9dab-3d0abdcac29f","instanceIdentifier":"01931022-6a36-1a56-7909-49544c578d29","name":"","source":{"id":"a524d53a-ea68-3019-869a-bc6b112a6bcf","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39ced208-0193-1000-f3bf-d85ffa187468"},"destination":{"id":"f0f225af-72af-3a75-ad51-44bc3d0c2fb2","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"JoltTransformJSON","comments":"","instanceIdentifier":"01931021-6a36-1a56-6171-f414b8d96ad6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["FileToJson"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"c6bef101-2616-3785-90b4-808669aa9528","instanceIdentifier":"01931007-6a36-1a56-4b42-d01899b74190","name":"","source":{"id":"f2607cff-3526-36af-b65f-e5cdb73b6ddf","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ReplaceText","comments":"","instanceIdentifier":"39d8d690-0193-1000-9e02-c503b6cb1301"},"destination":{"id":"8a50cb45-0f1a-3145-95d1-c97496d10912","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"SplitText","comments":"","instanceIdentifier":"01931006-6a36-1a56-abaf-014643f3085b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"96cfc56c-c0e0-3bb9-b23e-4346e0a320b4","instanceIdentifier":"39d34cca-0193-1000-2be7-9cade6da3b48","name":"","source":{"id":"a524d53a-ea68-3019-869a-bc6b112a6bcf","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39ced208-0193-1000-f3bf-d85ffa187468"},"destination":{"id":"8fb0aea7-42cd-3ef1-ba4f-37fc4a40edbd","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ConvertRecord","comments":"","instanceIdentifier":"39b0932a-0193-1000-4982-42f8e93e1918"},"labelIndex":0,"zIndex":0,"selectedRelationships":["FileToXLSX"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"e3c703c7-c950-3b07-ab90-5b6bea233f14","instanceIdentifier":"39775abe-0193-1000-23ea-ee2f98298c70","name":"","source":{"id":"e52b17cc-2269-3eef-8e1b-34371208e86a","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | FetchFile","comments":"","instanceIdentifier":"39750815-0193-1000-103e-b422ea11f8c3"},"destination":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":32.0,"y":1064.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"0a3be3d2-5ce4-3e15-bc21-d94f5c6e3330","instanceIdentifier":"01931001-6a36-1a56-3f93-ed641e6742c1","name":"","source":{"id":"ecd32b45-8eef-3fb6-9d03-7cb3ae589231","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Update XLSX->CSV","comments":"","instanceIdentifier":"01931000-6a36-1a56-8490-d7cfc699ed9c"},"destination":{"id":"f2607cff-3526-36af-b65f-e5cdb73b6ddf","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ReplaceText","comments":"","instanceIdentifier":"39d8d690-0193-1000-9e02-c503b6cb1301"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"fd7e84f1-5c30-3d97-8fd9-4d38282d2cad","instanceIdentifier":"3967dcda-0193-1000-4a22-78e7a098092b","name":"","source":{"id":"0888e111-e127-3c0c-94d1-eea561d046dc","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | File UUID","comments":"","instanceIdentifier":"3966c90b-0193-1000-a88d-e88b6bb9f0be"},"destination":{"id":"ff5b94ce-ac26-3c9b-8fac-4462933feac5","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | SplitJson","comments":"","instanceIdentifier":"3967c5f7-0193-1000-06cc-3480925dbbb9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"0321dc80-f178-3c80-8ead-a866fd0675a4","instanceIdentifier":"39751d23-0193-1000-2b95-6dff601c9c81","name":"","source":{"id":"820105bd-c869-344b-a4b3-0b60d4c51cb8","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Set File Attributes","comments":"","instanceIdentifier":"396a9f90-0193-1000-88df-c292c31611f7"},"destination":{"id":"e52b17cc-2269-3eef-8e1b-34371208e86a","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | FetchFile","comments":"","instanceIdentifier":"39750815-0193-1000-103e-b422ea11f8c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"9319dff3-68ce-3e36-bd0e-a0f46045cd5a","instanceIdentifier":"01931031-6a36-1a56-42ba-088c2db6564f","name":"","source":{"id":"1ab951ce-b20b-3813-b508-7acac986c140","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Update CSV->JSON","comments":"","instanceIdentifier":"3a566a36-0193-1000-92c1-1745600b9f45"},"destination":{"id":"9a7cbab6-40b8-3aa5-9ec9-e91130fa8a7b","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Output","instanceIdentifier":"0193102f-6a36-1a56-aa1f-456a6d4d8578"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[{"x":1072.0,"y":2600.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"d4ca8815-0480-39ff-851e-53fc2adfce3c","instanceIdentifier":"3a529776-0193-1000-bc20-7374d028ace0","name":"","source":{"id":"e2336a09-4081-31ca-9803-4a74bebb536c","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ConvertRecord","comments":"","instanceIdentifier":"3a51b5c9-0193-1000-d7d0-2dadc18a07d2"},"destination":{"id":"1ab951ce-b20b-3813-b508-7acac986c140","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Update CSV->JSON","comments":"","instanceIdentifier":"3a566a36-0193-1000-92c1-1745600b9f45"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"d0fff9ee-b7b8-328b-a1f5-7c82a693e24c","instanceIdentifier":"396ac4fb-0193-1000-bbb5-7ba76dd1287a","name":"","source":{"id":"09645ad8-d61c-3397-8a73-83ac5c151d2d","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | File Attributes","comments":"","instanceIdentifier":"39689f90-0193-1000-50a4-1d92dd148bfe"},"destination":{"id":"820105bd-c869-344b-a4b3-0b60d4c51cb8","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Set File Attributes","comments":"","instanceIdentifier":"396a9f90-0193-1000-88df-c292c31611f7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"e0ff49cb-81bc-3ec2-8d52-658d4949a0b4","instanceIdentifier":"3966eb9f-0193-1000-3713-5d968407d2e8","name":"","source":{"id":"d463fa17-768b-3bed-a18c-415828ac7145","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | File Manifest","comments":"","instanceIdentifier":"3962fd27-0193-1000-fd76-fdd7615a908b"},"destination":{"id":"0888e111-e127-3c0c-94d1-eea561d046dc","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | File UUID","comments":"","instanceIdentifier":"3966c90b-0193-1000-a88d-e88b6bb9f0be"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"b53da3ac-43c8-381d-8c55-43f18f513250","instanceIdentifier":"01931023-6a36-1a56-8604-1af415f233c2","name":"","source":{"id":"f0f225af-72af-3a75-ad51-44bc3d0c2fb2","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"JoltTransformJSON","comments":"","instanceIdentifier":"01931021-6a36-1a56-6171-f414b8d96ad6"},"destination":{"id":"b248a869-be25-3d0a-bea7-711306e8a4e5","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"SplitJson","comments":"","instanceIdentifier":"0193101f-6a36-1a56-625c-18261a6b40c2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"1703258c-8b12-3de6-85af-f5bf94cc6712","instanceIdentifier":"396311cb-0193-1000-a0e8-883f95e5e5d1","name":"","source":{"id":"ff45943b-20f5-34a0-bf16-5ec3e5073edd","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | ListFile","comments":"","instanceIdentifier":"3914ca4a-0193-1000-1f33-41bd9242db4f"},"destination":{"id":"d463fa17-768b-3bed-a18c-415828ac7145","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | File Manifest","comments":"","instanceIdentifier":"3962fd27-0193-1000-fd76-fdd7615a908b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"f224ec9c-4441-3a8c-a70b-6956b2921dbc","instanceIdentifier":"0193101e-6a36-1a56-ebc5-e2895d2eb85a","name":"","source":{"id":"e2336a09-4081-31ca-9803-4a74bebb536c","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ConvertRecord","comments":"","instanceIdentifier":"3a51b5c9-0193-1000-d7d0-2dadc18a07d2"},"destination":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":32.0,"y":2368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"f60a55e9-cdb4-3343-b1f2-a2afeb338004","instanceIdentifier":"39783114-0193-1000-ac38-ceff50078e74","name":"","source":{"id":"ff5b94ce-ac26-3c9b-8fac-4462933feac5","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | SplitJson","comments":"","instanceIdentifier":"3967c5f7-0193-1000-06cc-3480925dbbb9"},"destination":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":32.0,"y":392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"0bbb1c91-81bb-3dd0-84fb-d7f990f8bf26","instanceIdentifier":"39d8fb62-0193-1000-6eac-95dd742bd53e","name":"","source":{"id":"8fb0aea7-42cd-3ef1-ba4f-37fc4a40edbd","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ConvertRecord","comments":"","instanceIdentifier":"39b0932a-0193-1000-4982-42f8e93e1918"},"destination":{"id":"ecd32b45-8eef-3fb6-9d03-7cb3ae589231","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Update XLSX->CSV","comments":"","instanceIdentifier":"01931000-6a36-1a56-8490-d7cfc699ed9c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"ce73c5a7-4fb8-3e2f-b38c-cfc9ed765c32","instanceIdentifier":"39d60cf6-0193-1000-e63e-7f7d7e6bb728","name":"","source":{"id":"a524d53a-ea68-3019-869a-bc6b112a6bcf","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39ced208-0193-1000-f3bf-d85ffa187468"},"destination":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":32.0,"y":1320.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"f5d628a6-f21b-37a4-b760-ab5ca4f1e9a3","instanceIdentifier":"3968c1a8-0193-1000-0b3d-4477a79c97e8","name":"","source":{"id":"ff5b94ce-ac26-3c9b-8fac-4462933feac5","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | SplitJson","comments":"","instanceIdentifier":"3967c5f7-0193-1000-06cc-3480925dbbb9"},"destination":{"id":"09645ad8-d61c-3397-8a73-83ac5c151d2d","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | File Attributes","comments":"","instanceIdentifier":"39689f90-0193-1000-50a4-1d92dd148bfe"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"987b28ed-11b0-3c16-be3b-c19dcb574bab","instanceIdentifier":"01931032-6a36-1a56-20bd-36f623cbdcc1","name":"","source":{"id":"b248a869-be25-3d0a-bea7-711306e8a4e5","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"SplitJson","comments":"","instanceIdentifier":"0193101f-6a36-1a56-625c-18261a6b40c2"},"destination":{"id":"9a7cbab6-40b8-3aa5-9ec9-e91130fa8a7b","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Output","instanceIdentifier":"0193102f-6a36-1a56-aa1f-456a6d4d8578"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"accaf021-ad6f-3a08-a192-ed032ce2b025","instanceIdentifier":"39d74e16-0193-1000-a96d-940233215870","name":"","source":{"id":"8fb0aea7-42cd-3ef1-ba4f-37fc4a40edbd","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"ConvertRecord","comments":"","instanceIdentifier":"39b0932a-0193-1000-4982-42f8e93e1918"},"destination":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":32.0,"y":1552.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"e132f745-9378-3624-ab58-327dd89ad8ff","instanceIdentifier":"0193101b-6a36-1a56-b5ab-287a4b321761","name":"","source":{"id":"e52b17cc-2269-3eef-8e1b-34371208e86a","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | FetchFile","comments":"","instanceIdentifier":"39750815-0193-1000-103e-b422ea11f8c3"},"destination":{"id":"a524d53a-ea68-3019-869a-bc6b112a6bcf","type":"PROCESSOR","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39ced208-0193-1000-f3bf-d85ffa187468"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"fb0eec26-9df3-38de-b020-ed27951f0746","instanceIdentifier":"3a52d196-0193-1000-2b29-3bbb49802518","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"572680b8-1ee1-3325-bbc2-c09318ba83b5","instanceIdentifier":"39653b53-0193-1000-eefe-5bf226336c6e","name":"ListFile | JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"8c7285de-a4d0-3e4c-9021-59634da4cc7d","instanceIdentifier":"01931018-6a36-1a56-5f38-9c60c1f041a8","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"8ff688b9-66ad-35b1-9f86-cbf5bdd8ceff","instanceIdentifier":"39b0d5cd-0193-1000-03a1-44257ba5ef46","name":"ExcelReader","comments":"","type":"org.apache.nifi.excel.ExcelReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-poi-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Required Sheets":null,"Timestamp Format":null,"Date Format":null,"schema-name":"${schema.name}","schema-registry":null,"Starting Row":"1","Protection Type":"UNPROTECTED","Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Required Sheets":{"name":"Required Sheets","displayName":"Required Sheets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Row":{"name":"Starting Row","displayName":"Starting Row","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Protection Type":{"name":"Protection Type","displayName":"Protection Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"},{"identifier":"52663ceb-fb5b-36cc-9201-647d2973746d","instanceIdentifier":"39b14305-0193-1000-1a42-d4e2dde5df5f","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac23ba31-5e13-3c60-813c-098ac890d095"}],"parameterContextName":"PC_mi-c3_etl","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"}],"remoteProcessGroups":[],"processors":[{"identifier":"9163800a-21d7-3226-9994-853b70d908c6","instanceIdentifier":"0193103f-6a36-1a56-bb49-d8d7c08bd85a","name":"PublishKafka","comments":"","position":{"x":-80.0,"y":120.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.0.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":"c82bc6e8-6c6f-33de-9c6e-b98e6bf5d6d3","Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"#{topic_name}","Kafka Key":null,"partition":null,"Kafka Connection Service":"0b5a2c99-29a5-3b5a-99b8-03a5b6844fc0","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":"748f6f77-faca-38f2-bf67-09a2a056a2c1","Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"088c8414-c74f-336e-9d85-435df3753dda","instanceIdentifier":"01931036-6a36-1a56-c546-2a108c071677","name":"ControlRate","comments":"","position":{"x":-80.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"1 sec","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"25c14e5e-fe0c-33b4-b26f-dc7184c75a72","instanceIdentifier":"3bd09cea-0193-1000-484e-1497acabd675","name":"","source":{"id":"9163800a-21d7-3226-9994-853b70d908c6","type":"PROCESSOR","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"PublishKafka","comments":"","instanceIdentifier":"0193103f-6a36-1a56-bb49-d8d7c08bd85a"},"destination":{"id":"decbd0c2-1e3f-3ad9-b3e4-30a484bbcb48","type":"FUNNEL","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"Funnel","comments":"","instanceIdentifier":"01931038-6a36-1a56-7503-eac47dea89cc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-496.0,"y":184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"eff069af-0b3b-3353-9bad-cffe0aee2f9e","instanceIdentifier":"0193103a-6a36-1a56-a389-91559bd04c96","name":"","source":{"id":"088c8414-c74f-336e-9d85-435df3753dda","type":"PROCESSOR","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"ControlRate","comments":"","instanceIdentifier":"01931036-6a36-1a56-c546-2a108c071677"},"destination":{"id":"decbd0c2-1e3f-3ad9-b3e4-30a484bbcb48","type":"FUNNEL","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"Funnel","comments":"","instanceIdentifier":"01931038-6a36-1a56-7503-eac47dea89cc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-496.0,"y":-40.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"3faace47-3882-3f04-976b-fbf00ae2b7b8","instanceIdentifier":"0193103b-6a36-1a56-dfd5-7a148db8c6b5","name":"","source":{"id":"088c8414-c74f-336e-9d85-435df3753dda","type":"PROCESSOR","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"ControlRate","comments":"","instanceIdentifier":"01931036-6a36-1a56-c546-2a108c071677"},"destination":{"id":"9163800a-21d7-3226-9994-853b70d908c6","type":"PROCESSOR","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"PublishKafka","comments":"","instanceIdentifier":"0193103f-6a36-1a56-bb49-d8d7c08bd85a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"e7d6e500-a400-398d-855d-de4cfc037523","instanceIdentifier":"43bb3d75-0193-1000-540d-52cb9217ff17","name":"","source":{"id":"74540996-34c9-33db-ad73-b56689d3f880","type":"OUTPUT_PORT","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Transform | Output","instanceIdentifier":"43ba724e-0193-1000-f528-8004bb3bef60"},"destination":{"id":"ced8eb6c-a297-32e4-8e1e-86c3e3eddf19","type":"INPUT_PORT","groupId":"7238030a-f862-3f78-9e8a-8c29dd0e57fd","name":"Load | Input","instanceIdentifier":"43bb1f2f-0193-1000-7026-cf9d064a5ebd"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"688f9320-e22b-3425-a14a-2076b73415e8","instanceIdentifier":"01931039-6a36-1a56-b410-e278515e7004","name":"","source":{"id":"c84d7798-96b9-3c0e-94da-387df2da418d","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Errors","instanceIdentifier":"39772530-0193-1000-0edd-ab5c009c22f6"},"destination":{"id":"decbd0c2-1e3f-3ad9-b3e4-30a484bbcb48","type":"FUNNEL","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"Funnel","comments":"","instanceIdentifier":"01931038-6a36-1a56-7503-eac47dea89cc"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"ffc86e5f-2b51-3fce-ac4e-b4e92ab7eaaa","instanceIdentifier":"406bd8f6-0193-1000-b5af-935ceae7c279","name":"","source":{"id":"026fff20-dfde-3d46-b314-187b0ac6741b","type":"OUTPUT_PORT","groupId":"c7cf6b3c-891a-3ef9-b3d5-bedf47a43176","name":"Transform | Errors","instanceIdentifier":"3be0c045-0193-1000-b50b-a15045c299fb"},"destination":{"id":"decbd0c2-1e3f-3ad9-b3e4-30a484bbcb48","type":"FUNNEL","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"Funnel","comments":"","instanceIdentifier":"01931038-6a36-1a56-7503-eac47dea89cc"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-496.0,"y":416.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"956abecc-ce81-33df-9768-f7260da8baed","instanceIdentifier":"01931035-6a36-1a56-3c59-b0660662cb47","name":"","source":{"id":"9a7cbab6-40b8-3aa5-9ec9-e91130fa8a7b","type":"OUTPUT_PORT","groupId":"ac23ba31-5e13-3c60-813c-098ac890d095","name":"Extract | Output","instanceIdentifier":"0193102f-6a36-1a56-aa1f-456a6d4d8578"},"destination":{"id":"088c8414-c74f-336e-9d85-435df3753dda","type":"PROCESSOR","groupId":"5152847f-3360-3427-bfda-2ab8ae9589ab","name":"ControlRate","comments":"","instanceIdentifier":"01931036-6a36-1a56-c546-2a108c071677"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"}],"labels":[],"funnels":[{"identifier":"decbd0c2-1e3f-3ad9-b3e4-30a484bbcb48","instanceIdentifier":"01931038-6a36-1a56-7503-eac47dea89cc","position":{"x":-520.0,"y":-312.0},"componentType":"FUNNEL","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"}],"controllerServices":[{"identifier":"c82bc6e8-6c6f-33de-9c6e-b98e6bf5d6d3","instanceIdentifier":"3bce35cc-0193-1000-5708-e2c0899d06a4","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"0b5a2c99-29a5-3b5a-99b8-03a5b6844fc0","instanceIdentifier":"3bca6439-0193-1000-c70c-81d8a6ff2797","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.0.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"#{bootstrap_servers}","default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"},{"identifier":"748f6f77-faca-38f2-bf67-09a2a056a2c1","instanceIdentifier":"3bcec5f7-0193-1000-23f0-552a4d1c7ae8","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5152847f-3360-3427-bfda-2ab8ae9589ab"}],"parameterContextName":"PC_mi-c3_etl","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"PC_mi-c3_etl":{"name":"PC_mi-c3_etl","parameters":[{"name":"topic_druid","description":"","sensitive":false,"provided":false,"value":"publish_tracking_druid"},{"name":"flow_file_archive","description":"","sensitive":false,"provided":false,"value":"/data_archive"},{"name":"topic_name","description":"","sensitive":false,"provided":false,"value":"tracking_data"},{"name":"bootstrap_servers","description":"","sensitive":false,"provided":false,"value":"kafka:29092"},{"name":"folder_path","description":"","sensitive":false,"provided":false,"value":"/data_input"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}